/* Page Blog */

h2 a {
	color: var(--primary);
}

/* Blog post specific */

#post-content {
	picture {
		img {
			width: 80%;
			margin: 0 auto;
			display: block;
		}
	}
}

.author {
	color: var(--accent);
	font-weight: bold;
	text-decoration: none;

	&:hover {
		color: var(--accent);
	}
}

/* Code specific */

.shiki {
	border-left-width: 4px;
	border-left-style: solid;
	border-bottom-right-radius: 16px;
}

@media (prefers-color-scheme: dark) {
	.shiki, .shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
	}
}

.language-csharp {
	border-left-color:  #512bd4;
}
.language-json {
	border-left-color: #f7df1e;
}
.language-go {
	border-left-color: #00add8;
}
.language-gdscript {
	border-left-color: #478cbf;
}
.language-rpy {
	border-left-color: #78a5c5;
}

pre {
	padding: 20px;
}
code {
    display: inline-block;
	font-family: "Fira Code", monospace;
	font-size: 0.875rem;
	width: 100%;
    text-wrap-mode: nowrap;
    overflow-inline: auto;
}

/* Table specific */

table {
	font-family: "Quicksand", sans-serif;
	width: 100%;
	border-collapse: collapse;
	color: var(--text);
}
th {
	padding: 0.5em 1em;
	border: 1px solid var(--primary);
	color: var(--text);
	background: var(--primary);
}
td {
	padding: 0.5em 1em;
	border: 1px solid var(--primary);
}
tbody {
	tr {
		&:nth-child(even) {
			background: var(--bg-variant-a);
		}
		&:nth-child(odd) {
			background: var(--bg-variant-b);
		}
	}
}
