@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400&family=Quicksand:wght@400..700&display=swap');

:root
{
    --primary: #7acdb9;
    --secondary: #60e294;
    --accent: #bd92d8;
    --background:#fcfffa;
    --text:#171a26;
}

@media (prefers-color-scheme: dark)
{
    :root {
        --primary: #60e294;
        --secondary: #7acdb9;
        --background:#171a26;
        --text:#fcfffa;
    }
}

html{
    background-color: var(--background);
}

body{
    margin: 0;
    min-height: 100dvh;
}

h1{
    font-size: 2.25rem;
    font-family: "Anek Malayalam";
    font-style: normal;
    color: var(--text);
}

h2{
    font-size: 1.5rem;
    font-family: "Anek Malayalam";
    font-style: normal;
    color: var(--text);
}

h3{
    font-size: 1.125rem;
    font-family: "Anek Malayalam";
    font-style: normal;
    color: var(--text);
}

p, li {
    font-size: 1rem;
    font-family: "Quicksand";
    font-style: normal;
    color: var(--text);
}

p a, li a {
    color: var(--primary);
}

p a:hover, li a:hover {
    color: var(--secondary);
}
strong {
    color: var(--accent);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 102px;
	max-width: 800px;
    margin: 0 auto;
}

header #header-left a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header #logo {
	width: 80px;
    fill: var(--text);
}

header span#header-title {
    font-size: 1.125rem;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    color: var(--text);
}

header #header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header .navigation {
    font-size: 0.875rem;
    font-family: "Quicksand";
    font-style: normal;
    text-decoration: none;
    color: var(--text);
    margin-right: 20px;
}

header .navigation:hover {
    color: var(--text);
    text-decoration: underline;
}

header .social-media-icon {
	fill: var(--text);
	width: 20px;
	height: 20px;
}

header .social-media-icon:hover {
	fill: var(--text);
	width: 20px;
	height: 20px;
}

header::after {
    display: block;
    content: "";
    background-color: var(--text);
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 2px;
}

#content {
	max-width: 798px;
    margin: 0 auto;
    min-height: calc(100dvh - 164px);
    border: 1px solid var(--background);
}

footer {
	max-width: 800px;
    margin: auto auto 0 auto;
    display: flex;
    flex-direction: column;
    height: 60px;
}

footer nav {
    align-self: center;
}

footer nav ul {
    gap: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
}

footer nav ul li a {
    font-size: 0.75rem;
    font-family: "Quicksand";
    font-style: normal;
    text-decoration: none;
    color: var(--text);
}

footer nav ul li a:hover {
    color: var(--text);
    text-decoration: underline;
}

footer span#copyright{
    font-size: 0.625rem;
    font-family: "Quicksand";
    font-style: normal;
    color: var(--text);
}

#not-found-text {
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
}

.text-center {
    text-align: center;
}