$text: var(--text);
$primary: var(--primary);
$secondary: var(--secondary);
$accent: #bd92d8;
$font-title: "Anek Malayalam", sans-serif;
$font-text: "Quicksand", sans-serif;
$font-code: "Fira Code", monospace;
$background: var(--background);
$background-variant-a: var(--bg-variant-a);
$background-variant-b: var(--bg-variant-b);

$header-border-height: 0px;
$header-height: 60px + $header-border-height;
$footer-height: 60px;

$mobile-size: 800px;

@mixin mobile() {
  @media (max-width: $mobile-size) {
    @content();
  }
}

@import "https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400&family=Quicksand:wght@400..700&family=Fira+Code&display=swap";

:root {
	--primary: #7acdb9;
	--secondary: #60e294;
	--background: #fcfffa;
	--bg-variant-a: #f5f7fa;
	--bg-variant-b: #e9f6f2;
	--text: #171a26;
}
@media (prefers-color-scheme: dark) {
	:root {
		--primary: #60e294;
		--secondary: #7acdb9;
		--background: #171a26;
		--bg-variant-a: #23262f;
		--bg-variant-b: #1b1e27;
		--text: #fcfffa;
	}
}
